[submodule "kpu-boot"]
	path = kpu-boot
	url = git@github.com:Lmx1220/kpu-boot.git
[submodule "kpu-util"]
	path = kpu-util
	url = git@github.com:Lmx1220/kpu-util.git
[submodule "vue3-ts"]
	path = vue3-ts
	url = git@github.com:Lmx1220/vue3-ts.git
